.root {
}

.input {
  display: none;
}

.modal-body {
  margin: 0 auto;
}

.modal-footer {
  margin-right: 7%;
}

.modal-footer button {
  border-radius: 3px;
}

.modal-footer button:first-child {
  margin-right: 10px;
}

.copper {
  width: 400px;
  height: 400px;

  @media all and (max-width: 460px) {
    width: 300px;
    height: 300px;
  }

  @media all and (max-width: 350px) {
    width: 250px;
    height: 250px;
  }
}
